@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Libre Baskerville', serif;
}

a{
  color: rgb(0, 132, 255);
}

a.active-class{
  color: white;
  border-bottom: 1px solid red;
}

.menu-style{
  width:100%;
  line-height:60px;
  background-color:black;
  display: flex;
  justify-content: space-around;
}

ul li{
}

